.paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 40px 40px 30px 40px;
}

.submitBtn {
  margin-left: 10px;
}

.divider {
  background-color: #b5b5b5;
  height: 1px;
  width: 100%;
}

.randomBtn {
  padding: 20px 40px 20px 40px;
}
