.paper {
  position: relative;
}

.backLink {
  position: absolute;
  top: 10px;
  left: 10px;
  text-decoration: none;
}

.asteroidInfo {
  padding: 60px;
}

.asteroidInfo > li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
